<div class="main">
	<!-- landing section -->
	<section id="section1">
		<h1 class="page-name" id="hello">hello</h1>
		<div class="main-header">
			<h1 class="main-title">{{title}}</h1>
			<h3 class="main-subtitle">{{subtitle}}</h3>
		</div>

		<div class="planet-holder">
			<img src="../images/flat-earth.svg" class="planet">
			<img src="../images/clouds.svg" class="clouds">
		</div>
		<div class="next-page-container">
			<img src="../images/arrow-down.svg" class="arrow-down">
		</div>
	</section>

	<!-- portfolio/work section -->
	<section id="section2">
		<h2 class="page-name">works</h2>
		<div class="row projects-container">

			{{#each work}}
				<a href="/work/{{this.slug}}">
					<div class="col-xs-12 col-sm-6 col-md-4 project">
						<div class="project-content">
							<h4 class="project-title">{{this.name}}</h4>
							<p>{{this.role}}</p>
						</div>
						<img src="../images/cortex-home.png" class="project-img">
					</div>
				</a>
			{{/each}}

		</div>
	</section>

	<!-- about me section -->
	<section id="section3">
		<h2 class="page-name">about</h2>
		<img src="../images/moon.svg" class="about-background">

		<div class="profile-container">
			<div>
				<div class="profile-pic-container">
					<div class="picture-border">
						<img src="../images/profile-pic.jpg" class="profile-pic">
					</div>

					<!-- front-loading images to enhance animations -->
					<img src="../images/ballet.jpg" class="invisible">
					<img src="../images/break-dance.jpg" class="invisible">
					<img src="../images/costa-rica.jpg" class="invisible">
					<img src="../images/spain.jpg" class="invisible">
					<img src="../images/trance.jpg" class="invisible">
					<!-- end -->

					<a href="./JulianMullins.pdf" target="_blank" class="resume-btn">Résumé</a>
				</div>
				<div class="facts-container">
					<div class="factoid-container">
						<h4 id="fun-fact">Fun facts about me →</h4>
					</div>
					<div class="refresh-container">
						<a id="factoid-refresh">
							<span class="glyphicon glyphicon-refresh"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="profile-content">
				<h2>Hi, I'm Julian Mullins.</h2>
				<p>I'm an entrepreneur, designer and developer from Eugene, Oregon. As a coding bootcamp attendee and self-taught designer, I am a firm believer in life-long learning and a passionate creator of new things.</p>
				<p></p>
			</div>
		</div>
	</section>

	<!-- contact/social media section -->
	<section id="section4">
		<h2 class="page-name">contact</h2>
		<div class="contact-content">
			<p>Looking to collaborate on a project, need design or development help, or simply want to chat? I'm usually found somewhere around the globe, but thanks to the Internet, feel free to reach out at any time! I look forward to hearing from you.</p>
			<div class="contact-buttons">
					<a class="contact-button" href="mailto:mullinsjulian@gmail.com">
						<span class="glyphicon glyphicon-send"></span>
						Email
					</a>
					<a class="contact-button">
						<span class="glyphicon glyphicon-refresh"></span>
						LinkedIn
					</a>
					<a class="contact-button">
						<span class="glyphicon glyphicon-refresh"></span>
						Instagram
					</a>
			</div>
		</div>
	</section>
</div>
