<header class="header-inverted">
  <a href="/"><h1 class="main-title">{{title}}</h1></a>
</header>

<main class="main-scrollable">
  <section class="subject-heading">
    <div class="subject-cover">
      <img src="../images/{{work.mockup}}">
    </div>
    <div class="subject-title">
      <h2>{{work.name}}</h2>
      <h3>{{work.role}}</h3>
      <p>{{work.summary}}</p>
      {{#if work.link}}
        <a href="{{work.link}}" class="action" target="_blank">Visit Site</a>
      {{/if}}
    </div>
  </section>

  <section>
  </section>
</main>
